[Desktop Entry]
Version=1.0
Type=Application
Terminal=false
Exec=/usr/local/bin/docview %f
Name=fpGUI DocView
GenericName=INF help viewer
Icon=fpgui-docview
MimeType=application/docview-inf;
Categories=Documentation;Development;Utility;Application;
Comment=A fast cross-platform INF help file viewer

